{
  "presets": ["next/babel", "@zeit/next-typescript/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    "babel-plugin-idx",
    "inline-react-svg",
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "components": "./components",
          "features": "./features",
          "content": "./content",
          "layouts": "./layouts",
          "constants": "./constants",
          "pages": "./pages"
        }
      }
    ]
  ]
}
